<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
  <description>The coding standard.</description>

  <file>mailhogger.module</file>
  <file>src/</file>
  <file>templates/</file>

  <arg value="p"/>

  <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal/ruleset.xml">
    <!-- <exclude name="Drupal.Files.TxtFileLineLength.TooLong"/> -->
    <!-- We want to be able to use "package" and "version" in our custom modules -->
    <!-- <exclude name="Drupal.InfoFiles.AutoAddedKeys.Project"/> -->
    <!-- <exclude name="Drupal.InfoFiles.AutoAddedKeys.Version"/> -->
  </rule>
</ruleset>
