// https://drupalcommerce.org/blog/10943/how-create-drupal-8-toolbar-icon
.toolbar-icon-mailhog-message-list:before {
  background-image: url(../images/icon-email.svg);
}

.form-inline {
	display: inline-block;
}

.message-actions {
	margin-top: 1em;
	margin-bottom: 1em;

	> * {
		display: inline-block;
		margin: 1em;
	}
}
